<h3>Username: <%= @user.username %></h3>
<% if current_user && current_user.admin && @user != current_user %>
  <% msg = @user.closed? ? "Open account" : "Close account" %>
  <%= link_to msg, toggle_closed_user_path(@user.id), data: {turbo_method: "post"}, class: "btn btn-danger " %>
<% end %>
<p>
  <% text = "Has made #{pluralize(@user.ratings.count, 'rating')}"
 %>
  <% unless @user.ratings.empty? %>
    <% text += ", average rating #{round(@user.average_rating)}" %>
  <% end %>
  <%= text %>
</p>
<% if @user.favorite_style%>
  <p>
    <strong>Favorite style:</strong> <%="#{@user.favorite_style}" %>
  </p>
<% end %>
<% if @user.favorite_brewery%>
  <p>
    <strong>Favorite brewery:</strong> <%="#{@user.favorite_brewery}" %>
  </p>
<% end %>
<p>
  <strong>member of:</strong>
</p>
<ul>
  <% @user.memberships.each do |membership| %>
    <li>
      <%= link_to membership, membership %>
    </li>
  <% end %>
</ul>
<p>
  <strong>ratings:</strong>
</p>
<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
        <%= link_to "Delete", rating, data: {turbo_method: :delete} %>
      <% end %>
    </li>
  <% end %>
</ul>
<div>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
  <% end %>
  <%= link_to "Back to users", users_path %>
  <% if @user == current_user %>
    <%= button_to "Destroy this user", @user, method: :delete,
      form: { data: { turbo_confirm: 'Are you sure?' } },
      class: "btn btn-danger"
    %>
  <% end %>
</div>
