<p style="color: green"><%= notice %></p>
<h3>Username:</h3>
<p>
  <%= @user.username %>
</p>
<p>
  <% text = "Has made #{pluralize(@user.ratings.count, 'rating')}"
 %>
  <% unless @user.ratings.empty? %>
    <% text += ", average rating #{@user.average_rating.round(1)}" %>
  <% end %>
  <%= text %>
</p>
<% if @user.favorite_style%>
  <p>
    <strong>Favorite style:</strong> <%="#{@user.favorite_style}" %>
  </p>
<% end %>
<% if @user.favorite_brewery%>
  <p>
    <strong>Favorite brewery:</strong> <%="#{@user.favorite_brewery}" %>
  </p>
<% end %>
<p>
  <strong>member of:</strong>
</p>
<ul>
  <% @user.memberships.each do |membership| %>
    <li>
      <%= link_to membership, membership %>
    </li>
  <% end %>
</ul>
<p>
  <strong>ratings:</strong>
</p>
<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
        <%= link_to "Delete", rating, data: {turbo_method: :delete} %>
      <% end %>
    </li>
  <% end %>
</ul>
<div>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
  <% end %>
  <%= link_to "Back to users", users_path %>
  <% if @user == current_user %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
