<h2>Ratings</h2>
<div class="container">
  <div class="row">
    <% ["Beer", "Brewery", "Style"].each do |name| %>
      <section class="col">
        <h3><%= "Best #{name.pluralize.downcase}" %></h3>
        <table class="table">
          <thead>
            <tr>
              <th><%= name %></th>
              <th>Average</th>
            </tr>
          </thead>
          <tbody>
            <% name.constantize.top(3).each do |item|%>
              <tr>
                <td><%= item.name %></td>
                <td><%= item.average_rating.round(1) %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
      </section>
    <% end %>
  </div>
</div>
<section>
  <h3>Most active users</h3>
  <ul>
    <% @top_users.each do |user| %>
      <li>
        <%= user.username %>
        <%= "#{pluralize(user.ratings.count, 'rating')}" %>
      </li>
    <% end %>
  </ul>
</section>
<section>
  <h3>Recent ratings</h3>
  <ul>
    <% @last_ratings.each do |rating| %>
      <li>
        <%= rating %>
        <%= rating.updated_at %>
      </li>
    <% end %>
  </ul>
</section>
<%= link_to 'Add rating', new_rating_path, class: "btn btn-primary" %>
<p>Ratings count: <%= @ratings.count %></p>
