<h2>List of ratings</h2>
<ul>
  <% @ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if rating.user != nil %>
        <%= link_to rating.user.username, rating.user %>
      <% end %>
      <% if current_user&.username == "admin" %>
        <%= link_to "Delete", rating, data: {turbo_method: :delete} %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= link_to 'Add rating', new_rating_path %>
<p>Ratings count: <%= @ratings.count %></p>
