<div id="<%= dom_id brewery %>">
  <h2>
    <%= brewery.name %>
  </h2>
  <p>
    <i>
      <span>Established in</span>
      <%= brewery.year %>
    </i>
  </P>
  <p>
    <span>Beers count:</span>
    <%= brewery.beers.count %>
  </p>
  <p>
    <% brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </p>
</div>
