<div id="<%= dom_id brewery %>">
 <h2>
  <%= brewery.name %>
  <% if not brewery.active  %>
    <span class="badge bg-secondary">retired</span>
  <% end %>
</h2>
  <p>
    <i>
      <span>Established in</span>
      <%= brewery.year %>
    </i>
  </P>
  <p>
    <span>Beers count:</span>
    <%= brewery.beers.count %>
  </p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Style</th>
      <th>rating</th>
    </tr>
  </thead>
  <tbody>
    <% brewery.beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, beer %></td>
        <td><%= link_to beer.style.name, beer.style %></td>
        <td><%= beer.average_rating %></td>
      </tr>
    <% end %>

  </tbody>
</table>

  <p>
    <%= "Brewery has #{pluralize(brewery.ratings.count, 'rating')}" %>
    <% if brewery.ratings.count > 0 %>
      <%= "with an average of #{round(brewery.average_rating)}" %>
    <% end %>
  </p>
</div>
